span.editable-parent
{
    display: inline-block;
}

.editable-parent
{
    /* Fix for Bootstrap. */
    line-height: normal;
}

.editable
{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    border: 1px solid transparent;
}

.editable:focus
{
    cursor: text;
    border: 1px solid transparent !important;
}

.editable:hover
{
    border: 1px dashed #DDD;
}

.editable .placeholder
{
    color: #AAA;
    font-style: italic;
}

.editable.text-area
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.editable.single-line
{
    white-space: nowrap;
    overflow: hidden;
}

.editable.single-line br
{
    display:none;
}

.editable.single-line *
{
    display:inline;
    white-space:nowrap;
}

/* Bootstrap Overrides */

i.icon-tiny
{
    font-size: 10px;
}

i.icon-mod
{
    font-size: 8px;
    position: relative;
    top: -4px;
}

.navbar.navbar-small .navbar-inner
{
    min-height: 20px;
    font-size: 15px;
    line-height: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar.navbar-small .brand
{
    font-size: 15px;
    padding-top: 7.5px;
    padding-bottom: 5.5px;
}
.navbar.navbar-small .navbar-text
{
    font-size: 13px;
    padding-top: 9px;
    padding-bottom: 6px;
}

.navbar.navbar-small .navbar-form input[type='text']
{
    height: 13px;
    font-size: 85%;
    margin-top: 3px;
}

.navbar.navbar-small .btn-toolbar,
.navbar.navbar-small .btn-group
{
    margin-top: 0;
    margin-bottom: 0;
}

.navbar.navbar-small .btn
{
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px 10px;
}