.editable
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    cursor: pointer;
    padding: 0 5px;
    border: 1px solid transparent;
}

.editable:focus
{
    cursor: text;
    border: 1px solid transparent !important;
}

.editable:hover
{
    border: 1px dashed #DDD;
}

.editable .placeholder
{
    color: #AAA;
    font-style: italic;
}

.editable.single-line
{
    white-space: nowrap;
    overflow: hidden;
}

.editable.single-line br
{
    display:none;
}

.editable.single-line *
{
    display:inline;
    white-space:nowrap;
}